@import url("./assets/components/Style/root.css");
.container_body {
  display: flex;
  margin: 0;
  flex-direction: column;
  background-color: var(--main-color);
}

.container_card {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  gap: 15px;
  align-items: start;
}

.right_card {
  flex: 0.6;
  margin-top: 5px;
  display: flex;
  padding: 5px;
}

.left_card {
  flex: 1;
  margin-top: 5px;
  display: flex;
  height: auto;
}

.mid_card {
  flex: 3;
  margin-top: 5px;
  display: flex;
  border-radius: 15px;
  background-color: white;
}

.title h1 {
  display: flex;
  margin: 10px;
}

.contain {
  display: flex;
  margin: 5px;
  background-color: #efefef;
  border-radius: 10px;
  padding: 5px;
}
