@import url("./assets/components/Style/root.css");
.container_body {
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
  gap: 15px;
}
.container_header {
  margin-top: 70px;
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-top: 90px;
  opacity: 0.9;
  animation: fadeOut linear;
  animation-timeline: view();
  animation-range: exit -70px;
}

.container_card {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  gap: 25px;
  align-items: start;
}

.right_card {
  flex: 0.6;
  margin-top: 5px;
  opacity: 0;
  transform: translateX(60px);
  animation: transitionIn 2s linear forwards;
  display: flex;
  padding: 5px;
}

.left_card {
  flex: 1;
  margin-top: 5px;
  opacity: 0;
  transform: translateX(-50px);
  animation: transitionIn 2s linear forwards;
  display: flex;
  height: auto;
}

.mid_card {
  flex: 3;
  margin-top: 5px;
  display: flex;
  opacity: 0;
  transform: translateY(80px);
  animation: transitionIn 1s linear forwards;
  border-radius: 15px;
  background-color: white;
}

.title h1 {
  display: flex;
  margin: 10px;
}

.contain {
  display: flex;
  margin: 5px;
  background-color: #efefef;
  border-radius: 10px;
  padding: 5px;
}

@keyframes transitionIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
